.gameBtnGrid {
    position: absolute;
    display: grid;
    grid-template-columns: auto auto auto;
    width: 50%;
    margin: auto;
    border-radius: 1em;
    column-gap: 0.4em;
    row-gap: 0.4em;
    padding: 1%;
    top: 10%;
    left: 25%;
  }