.homeBtn {
  background-color: #386641;
  border-radius: 50%;
  padding: 2em;
  border: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: absolute;
  right: 5%;
  top: 5%;
}
.homeBtn:hover {
  cursor: pointer;
  background-color: #023047;
}
